@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Satisfy&display=swap");

/* Global Properties: start */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 125px;
}

body {
    margin: 0;
}

span,
p,
th,
td,
a,
address,
label,
input,
fieldset,
legend {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-family: "Satisfy", cursive;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
    font-size: 2rem;
    margin: 5rem auto 2rem;
    padding: 2.5rem 0 0;
    width: 14rem;
    height: 4rem;
}
/* Global Properties: end */

/* Section customer-info: start */
.customer-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customer-info p {
    text-align: center;
}

.customer-info form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    max-width: 400px;
}

.label-and-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.7rem;
}

label,
.label-and-input span {
    font-size: 0.8rem;
}

.label-and-input input {
    line-height: 2rem;
    padding: 0 0.6rem;
}

.label-and-input select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid rgba(128, 128, 128, 0.5);
}

#form__note {
    font-style: italic;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

#message {
    margin-top: 5px;
}

textarea {
    height: 100px;
    max-width: 400px;
    border-radius: 5px;
    border: 2px solid rgba(128, 128, 128, 0.5);
}

input {
    border-radius: 5px;
    border-color: rgba(128, 128, 128, 0.5);
    outline: none;
}

fieldset {
    margin-bottom: 0.7rem;
    border-radius: 5px;
    font-size: 0.8rem;
    border-color: rgba(128, 128, 128, 0.5);
    padding: 0 2rem;
}

legend {
    font-size: 0.8rem;
}

.label-and-input-horizontal {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#submit {
    padding: 1rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
/* Section customer-info: end */
