@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

main {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main h1 {
    font-family: "Satisfy", cursive;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
    font-size: 2rem;
    margin: 5rem auto 4rem;
    padding: 2.5rem 3rem 0;
    width: 14rem;
    height: 4rem;
}

.images {
    display: grid;
    margin: 2rem 4px 2rem 4px;
    justify-items: center;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px 5px;
    width: calc(100vw - 32px);
}

.images span {
    font-family: "Satisfy", cursive;
    font-size: 1.5rem;
    place-self: center;
}

.image {
    width: calc((100vw - 18px) / 3);
    height: calc((100vw - 18px) / 3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.image:nth-of-type(1) {
    background-image: url(../picture/gallery-dog1.jpeg);
}

.image:nth-of-type(2) {
    background-image: url(../picture/gallery-dog2.jpeg);
}

.image:nth-of-type(3) {
    background-image: url(../picture/gallery-dog3.jpeg);
}

.image:nth-of-type(4) {
    background-image: url(../picture/gallery-dog4.jpeg);
}

.image:nth-of-type(5) {
    background-image: url(../picture/gallery-dog5.jpeg);
}

.image:nth-of-type(6) {
    background-image: url(../picture/gallery-dog6.jpeg);
}

.image:nth-of-type(6) {
    background-image: url(../picture/gallery-dog6.jpeg);
}

.image:nth-of-type(7) {
    background-image: url(../picture/store1.jpeg);
}

.image:nth-of-type(8) {
    background-image: url(../picture/store2.jpeg);
}

.image:nth-of-type(9) {
    background-image: url(../picture/store3.jpeg);
}

.image:nth-of-type(10) {
    background-image: url(../picture/store4.jpeg);
}

.image:nth-of-type(11) {
    background-image: url(../picture/store5.jpeg);
}

.image:nth-of-type(12) {
    background-image: url(../picture/store6.jpeg);
}

.image:nth-of-type(13) {
    background-image: url(../picture/store7.jpeg);
}

.image:nth-of-type(14) {
    background-image: url(../picture/store8.jpeg);
}

.image:nth-of-type(15) {
    background-image: url(../picture/store9.jpeg);
}

.image:nth-of-type(16) {
    background-image: url(../picture/store10.jpeg);
}

.image:nth-of-type(17) {
    background-image: url(../picture/store11.jpeg);
}

/* Footer: start */
footer {
    padding: 2rem 0 1rem;
    height: max-content;
    background-color: #81d8d0;
    margin-top: 120px;
    position: relative;
}

#footer-logo {
    height: 4rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    position: relative;
    margin: 0rem auto;
    text-align: center;
}

#footer__dog {
    position: absolute;
    top: -155px;
    left: calc(50% - 125px);
}

footer a {
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
    font-family: "Open Sans", sans-serif;
}

#copyright {
    width: 100%;
    font-size: 0.7rem;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: black;
}
/* Footer: end */

@media only screen and (min-width: 900px) {
    .images {
        grid-template-columns: repeat(4, 1fr);
        width: calc(100vw - 2rem);
    }

    .image {
        width: calc((100vw - 23px) / 4);
        height: calc((100vw - 23px) / 4);
    }

    #footer-links {
        flex-direction: row;
    }
}
