/* embed google font */
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Satisfy&display=swap");

/* Global Properties: start */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 125px;
}

body {
    margin: 0;
}

article,
span,
p,
th,
td,
a,
address {
    font-family: "Open Sans", sans-serif;
}

h1,
h2 {
    font-family: "Satisfy", cursive;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
    font-size: 2rem;
    margin: 1rem auto 0;
    padding: 2.5rem 3rem 0;
    width: 14rem;
    height: 4rem;
}

h3 {
    font-family: "Open Sans", sans-serif;
    text-align: left;
    padding-left: 0.5rem;
    font-size: 1.6rem;
}

section:not(:last-of-type) {
    margin-bottom: 2rem;
}
/* Global Properties: end */

/* Section promotion: start */
.promotion {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: min-content;
    height: min-content;
}

.promotion::after {
    content: "";
    position: absolute;
    left: -50vw;
    top: -50vh;
    width: 200vw;
    height: 200vh;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.3);
}

#exit {
    position: absolute;
    top: 0rem;
    right: 0rem;
}

#promotion__card {
    max-height: 80vh;
}
/* Section promotion: end */

/* Section about-us: start */
.about-us {
    margin-top: 4.5rem;
}

.about-us div {
    border: 1px solid;
    border-image: url("../picture/paw.png") 100% 0 repeat;
    border-image-width: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us p {
    padding: 1.5rem 0;
    text-align: center;
    width: 80%;
}
/* Section about-us: end */

/* Section service: start */
#service__header-and-icon {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#service__walk-in, #price-table-2022 {
    max-width: 90vw;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.service-items {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 0rem 0rem 1rem;
    width: 100%;
}

.service-items tr:nth-of-type(2n-1) {
    background: #81d8d0;
}

.service-items th {
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    width: 25%;
    font-size: 1.2rem;
    border-bottom: 2px dotted black;
}

.service-items td {
    max-width: 3rem;
    font-size: 1rem;
    border-collapse: collapse;
}

.title {
    font-weight: bolder;
}

.services__other-services,
.services__cat-services {
    width: 100%;
    text-transform: capitalize;
    border-collapse: separate;
    border-spacing: 0 1em;
}

.other-services__not-capital {
    text-transform: none;
}

#other-services__title,
#cat-services__title {
    height: 3rem;
    vertical-align: super;
    text-transform: none;
}

.other-services__dog-icon {
    transform: translateY(10px);
}

.services__other-services td,
.services__cat-services td:not(:last-of-type) {
    text-align: left;
    font-size: 1rem;
}

.services__other-services td:nth-of-type(2n-1) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 15rem;
}

.services__other-services td:nth-of-type(2n) {
    padding-left: 0rem;
}

.services__other-services td img {
    margin-right: 7px;
    transform: translateY(4px);
}

.services__other-services th,
#cat-services__title {
    font-size: 1.5rem;
}

#service-items-bottomOfFirstTable,
#cat-services__notes {
    padding-bottom: 2rem;
    font-style: italic;
    font-size: 16px;
}

#other-services__shampoo {
    margin-top: 10px;
    font-style: italic;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

#other-services__shampoo-list li {
    font-family: "Open Sans", sans-serif;
    list-style: circle;
    margin-bottom: 0.5rem;
    margin-left: 5%;
}

.cat-services__prices {
    font-size: 1rem;
}
/* Section Service: end */

/* Section Gallery: start */
.gallery span {
    display: block;
    width: max-content;
    margin: 0 auto;
    font-size: 1.2rem;
}
/* Section Gallery: end */

/* Keyframes: start */
@keyframes changeBG {
    0% {
        background-image: url(../picture/dog1-removebg.png);
        background-position: left bottom;
        background-repeat: no-repeat;
        background-color: cornflowerblue;
    }

    23% {
        background-image: url(../picture/dog1-removebg.png);
        background-position: left bottom;
        background-repeat: no-repeat;
        background-color: cornflowerblue;
    }

    24% {
        background: white;
    }

    25% {
        background-image: url(../picture/dog2-removebg.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-color: gold;
    }

    48% {
        background-image: url(../picture/dog2-removebg.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-color: gold;
    }

    49% {
        background: white;
    }

    50% {
        background-image: url(../picture/dog1-removebg.png);
        background-position: left bottom;
        background-repeat: no-repeat;
        background-color: plum;
    }

    73% {
        background-image: url(../picture/dog1-removebg.png);
        background-position: left bottom;
        background-repeat: no-repeat;
        background-color: plum;
    }

    74% {
        background: white;
    }

    75% {
        background-image: url(../picture/dog2-removebg.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-color: yellowgreen;
    }

    98% {
        background-image: url(../picture/dog2-removebg.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-color: yellowgreen;
    }

    99% {
        background: white;
    }

    100% {
        background-image: url(../picture/dog1-removebg.png);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-color: cornflowerblue;
    }
}
/* Keyframes: end */

/* Media Query: start */
@media only screen and (min-width: 550px) {
    .hero {
        width: 100%;
        height: 33rem;
    }

    #hero-bookNow {
        left: 9%;
        font-size: 2rem;
        padding: 6rem 2rem 3rem;
    }

    #hero-cloud {
        padding: 3rem;
        top: 11.7rem;
        right: 1rem;
        width: 12rem;
        font-size: 1.2rem;
    }

    #hero-dog {
        height: 32rem;
        top: 10rem;
        right: 9%;
    }

    .service {
        width: 85vw;
    }

    .about-us p {
        width: 80%;
    }

    .services__other-services,
    .services__cat-services {
        width: 40rem;
    }

    .services__other-services td:nth-of-type(2n-1) {
        padding-left: 6rem;
    }

    .services__other-services td:nth-of-type(2n) {
        padding-left: 3rem;
    }

    .book table {
        padding: 12rem 8rem 6rem;
        margin: 0 auto;
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 800px) {
    #service__walk-in,
    #price-table-2022 {
        max-width: 70vw;
    }
}

@media only screen and (min-width: 1000px) {
    #service__walk-in,
    #price-table-2022 {
        max-width: 50vw;
    }
}
